.background-image {
    background: url(../images/2012_gala_tent.jpg) center center no-repeat fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.input-group-addon:not(:last-child) {
    width: 3em;
    padding-left: 0.74em;
}

.input-group {
    height: 2.5em;
}

.form-links {
    text-align: center;
    margin-top: 1em;
}

    .form-links a {
        color: white;
    }

.formDiv {
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 80%;
    margin: auto;
}

.btn-block {
    margin-top: 1em;
}

.modal-header {
    background-color: darkblue;
    color: white;
    border-bottom-color: #EEEEEE;    
}

.send-password {
    background-color: darkslategray;
}

@media screen and (max-width: 780px) {
    .formDiv {
        width: 100%;
    }
    #searchEvents {
        display: none;
    }
    .search-input {
        width: 100vw;
    }
}

/*SIGNUP STYLES*/

.modal-content {
    background-color: lightgrey;
    color: black;
}

button, select {
    width: 100%;
}

#loginPanel {
    margin-top: 2em;
    background-color: #252221;
    border-radius: 1em;
    box-shadow: 2px 1px 20px 1px white;
}

.main-title {
    font-family: 'Aclonica';
    font-size: 2.5em;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 10px 1px white;
    background-color: #252221;
    padding: 0.2em;
    border-radius: 0.2em;
}

.panel-font {
    font-family: 'Aclonica';
}

#titleDiv {
    text-align: center;
    margin-top: 1em;
}

label {
    padding-top: 0.4em;
    margin-left: 0.5em;
}
.visibility {
    display: none;
}

/*MY CENTERS PAGE STYLES*/
.input-group-addon {
    padding: 0em;
}

.input-icon {
    margin: auto;
}

.table-header {
    background-color: grey;
}
.custom-select-sm {
    width: 100%;
}

.modal-title {
    color: white;
}

.grey-color {
    background-color: grey;
}

#addFacility {
    width: 10%;
    margin-right: 1em;
}

.add-facility-90 {
    width: 90%;
}

.page-header {
    font-size: xx-large;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.search-events {
    background-color: darkgreen;
}

.appBackground {
    background-color: lightgrey;
}

.text-center {
    text-align: center;
}

.fixed-top {
    height: 4em;
    padding-left: 0em;
    padding-right: 0em;
}

a:hover {
    color: lightgreen;
}

.top-eight {
    display: flex;
}

.custom-container {
    padding-top: 8em;
    width: 100%;
}

.nav-link {
    color: white;
}

#navBody {
    max-width: 100%;
}

.zero-padding {
    padding: 0em;
}

.list-group-item {
    background-color: white;
    color: black;
    height: 6em;
}

.navbar-background {
    background-color: darkblue;
}

.list-group-item:first-child {
    background-color: grey;
    color: white;
}

.invert-color {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.appTitle {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0.3em;
    font-size: 1.2em;
    color: white;
    margin-left: 1em;
}

#nav-body {
    background-color: darkblue;
}
/*SIDEBAR STYLES*/
.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.left .modal-dialog {
    margin: auto;
    max-width: 25%;
    transform: translate3d(0%, 0, 0);
}

.modal.left.fade .modal-dialog {
    left: -38%;
    transition: opacity 2s linear, left 2s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}
.sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    overflow-y: auto;
    width: 13em;
}

.sidebar-header {
    background-color: darkblue;
    color: white;
}

.sidebar-toggle {
    margin-left: 0.5em;
}

.icon-margin-left {
    margin-left: 0.5em;
}

.modalDivider {
    border-bottom: inset;
    border-bottom-width: thick;
    padding-bottom: 0.5em;
}

.centerSearch {
    height: 250px;
    overflow-y: scroll;
    width: 100%;
    border-left: ridge;
}

.table-header-main {
    background-color: darkblue;
    color: white;
}

.table {
    background-color: white;
    border: ridge;
}

.table-main {
    margin-top: 2em;
}

.badge {
    color: black;
    border: ridge;
}

.eventModal {
    background-color: lightgrey;
}

.add-facility {
    padding-left: 1em;
    background-color: darkblue;
    color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding-top: 0.3em;
}

.add-facility-icon {
    margin-bottom: 0.3em;
}

.center-image {
    width: 50px;
}
.navbar-toggler {
    width: auto;
}
button.close {
    width: 1em;
}
button, select {
    width: auto;
}
.search-list {
    width: 100%;
}