{
  /* See all the pre-defined configs here: https://www.npmjs.com/package/eslint-config-defaults */
  "extends": ["defaults/configurations/airbnb/es6", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "root": true,
  "plugins": ["react", "import", "jsx-a11y"],
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true,
    "worker": true
  }
}
