################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventManager.sln
/.vs/EventManager/v14
/Web.config
/.vs
/node_modules
/server/typings
/.nyc_output
/coverage
/npm-debug.log
/.env
/typings
npm-debug.log.3159501567
.DS_Store
template/.DS_Store
