################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventManager.sln
/.vs/EventManager/v14
/Web.config
/.vs
/node_modules
/coverage
/.nyc_output
/.env
/typings
