################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventManager.sln
/.vs/EventManager/v14
/.vs/EventManager.sn/v14
/EventManager.sn.sln
/.vs/config
/Web.config
